/* .about_continer{
    margin-top: 15%;
    background-color: black;
} */
.about_tilte{
    font-size: 35px;
    font-weight: 800;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.aboutme_content{
    margin-bottom: 4%;
}

.items_aboutme{
    line-height: 2.5rem;
    letter-spacing: 2px;
    list-style: none;
    font-size: 25px;
    font-weight: 800;
    font-family: monospace;
    padding: 5% 5%;
    text-align: left;

}
.aboutme_skills{
    margin-top: 2%;
}
.lan_icons{
    padding: 4% 3%;
}

.html_icon{
    font-size: 100px;
    color: rgba(244, 102, 8, 0.977);
}

.css_icon{
    font-size: 100px;
    color: rgba(8, 55, 244, 0.977);
}

.js_icon{
    height: 100px;
    width: 100px;
    border-radius: 25px;
    background-color: white;
    font-size: 100px;
    color: rgb(247, 255, 2);
}

.bootstarp_icon{
    font-size: 100px;
    color: rgba(154, 2, 255, 0.951);
}

.react_icon{
    font-size: 100px;
    color: rgba(23, 13, 158, 0.7);
}
.mogodb_icon{
    font-size: 100px;
    color: rgba(139, 223, 5, 0.968);
}

.icons_hover:hover{
    transform: rotate(180deg);
   transition: transform 1.5s linear;
}